@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-red-600 shadow-md font-medium text-white hover:opacity-90 p-2 rounded-lg;
    }
    .navbar {
        @apply bg-darkBlue flex items-center justify-between flex-wrap p-6;
    }
    .navLink {
        @apply inline-block text-sm px-4 py-2 leading-none border rounded text-white hover:border-white border-transparent mt-4 lg:mt-0;
    }
    .loginReg {
        @apply bg-mediumGrey shadow-md rounded-2xl mx-auto mt-20 w-1/4 flex-col text-center pt-8 pb-8;
    }
    .loginRegInput {
        @apply w-4/6 p-2 rounded-md border-2;
    }
    .loginRegBtn {
        @apply block mx-auto mt-4 w-2/6 text-lg;
    }
}

body {
    background: white;
    margin: 0;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.logoText {
    font-family: 'Raleway', sans-serif;
}

.showPassBtn {
    display: inline;
    position: absolute;
    right: 20%;
    bottom: 9%;
    cursor: pointer;
}

.showPassBtn:hover {
    filter: invert(64%) sepia(3%) saturate(2456%) hue-rotate(168deg) brightness(95%) contrast(81%);
}

.capsCheck {
    display: none;
    position: absolute;
    right: 26%;
    bottom: 9%;
}

.alertBad {
    background-color: #e66b6bbd;
    border: #c04a4abd solid 2px;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    padding: 5px 20px;
    min-width: 66%;
}

.alertBadLeft {
    background-color: #e66b6bbd;
    border: #c04a4abd solid 2px;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    width: fit-content;
    margin-right: auto;
    margin-left: 0;
    border-radius: 5px;
    padding: 5px 20px;
    min-width: 66%;
}

.alertGood {
    background-color: #75e66bbd;
    border: #5cc04abd solid 2px;
    color: black;
    font-size: 0.9rem;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    padding: 5px 10px;
    min-width: 66%;
}

.containerWidth {
    min-width: 57%;
}

/*testing stuff start, please leaave*/
.card {
    /* perspective: 1000px; */
}

.card-inner {
    position: relative;
    /* width: 100%;
    height: 100%; */
    /* text-align: center; */
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.card:active .card-inner {
    transform: rotateX(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    /* background-color: #2980b9;
    color: white; */
    transform: rotateX(180deg);
}
/*testing stuff end, please leaave*/

.on {
  color: #000;
}
.off {
  color: #ccc;
}